body{
	font-family: 'Maven Pro', sans-serif;
	background-color: #F3D3B6;
}

::-webkit-scrollbar {
    width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50px;
}


.content{
	max-height: 100vh;
}

.stats-container{
	background-color: bisque;
	max-height: 100vh;
}

.stats{
	
}

.factory-container{
	position: relative;
	width: 945px;
	height: 770.37px;
	right: 0;
	background-image: url('assets/img/mosaic.jpeg');
	background-size: 50px;
}

.obj{
	position: absolute;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.factory{
	z-index: 0;
	right: 0;
	width: 945px;
	height: 770.37px;
	background-image: url('assets/img/factory.svg');
}

.truck{
	width: 150px;
	height: 372px;
	top: 20px;
	left: 42px;
	background-image: url('assets/img/truck.svg');
	transition-property: top;
	transition-duration: 5s;
	transition-timing-function: ease-in;
}

.pack-machine, .paint-machine, .truck, .inspector, .warehouse{
	z-index: 2;
}

.pack-machine{
	width: 70px;
	height: 70px;
	top: 509px;
	left: 220px;
	background-image: url('assets/img/pack-machine.svg');
}

.paint-machine{
	width: 70px;
	height: 70px;
	top: 240px;
	left: 411px;
	background-image: url('assets/img/paint-machine.svg');
}

.inspector{
	width: 37px;
	height: 37px;
	top: 418px;
	left: 462px;
	background-image: url('assets/img/inspector.svg');
}

.warehouse{
	width: 200px;
	height: 106.79px;
	top: 26px;
	left: 349px;
	background-image: url('assets/img/warehouse.svg');
}

/* Frame states */

.frame{
	transition-property: top, bottom, left, right;
	transition-timing-function: linear;
	z-index: 1;
}

.frame.disassembled, .frame.assembling  {
	width: 40px;
	height: 40px;
	background-image: url('assets/img/frame-parts.svg');
}

.frame.assembled, .frame.inWarehouse , .frame.painting{
	width: 40px;
	height: 40px;
	background-image: url('assets/img/frame.svg');
}

.frame.state1 {
	width: 60.83px;
	height: 40px;
	background-image: url('assets/img/frame-state1.svg');
}

.frame.state2 {
	width: 51.37px;
	height: 40px;
	background-image: url('assets/img/frame-state2.svg');
}

.frame.painted, .frame.packing {
	width: 40px;
	height: 40px;
	background-image: url('assets/img/frame-painted.svg');
}

.frame.packed {
	width: 40px;
	height: 40px;
	background-image: url('assets/img/box.svg');
}

p {
	margin-bottom: 5px;
}

h4 {
	border-bottom: 2px solid orange;
}

input.form-control:focus{
	outline: none;
	box-shadow: none;
}

.loader{
	height: 50px;
	width: 50px;
	display: block;
	border-radius: 50%;
	border-top: 3px solid orange;
	animation-duration: 500ms;
	animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: linear
}

@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}